{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block css %}
.row-div {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.errorlist {
    padding: 5px;
    list-style-type: none;
}
.form-group .errorlist li {
    color: #F4433C;
    list-style: none;
}
.profile-placeholder {
    font-size:170px;
}
.profile-outer-div {
    border-radius: 15px;
    border-color: #41B6E6;
    border-style: solid;
    width: 170px;
    height: 170px;
    padding: 5px 5px 5px 5px;
    margin: -100px auto auto auto;
    background-color: #fff;
}
.profile-inner-div {
    border-radius: 15px;
    border-color: #41B6E6;
    border-style: solid;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.post-card {
    border-color: #41B6E6;
    border-style: solid;
    margin: 5px 0px 5px 0px;
    padding-bottom: 1em;
}
.comment-card {
    margin: 3px 1em 3px 1em;
    background-color: #90CAF9;
    width: 95%;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.reply-card {
    margin: 3px 1em 3px 2em;
    background-color: #69F0AE;
    width: 93%;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
@media only screen and (max-width: 600px) {
    .card {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
    .main-div {
        padding-left: 0.1em;
        padding-right: 0.2em;
    }
    .card-body {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
    .reply-card {
        width: 90.4%;
    }
}
{% endblock css %}

{% block content %}
<div class="card row-div col-xl-8 col-lg-10 col-md-10 col-sm-12 col-12">
    
    <div class="card-body">
        <div class="profile-outer-div"><div class="profile-inner-div">
            <i class="fas fa-user-tie profile-placeholder"></i>
        </div></div>
        <h1 class="text-center mt-2">{{ object.first_name }} {{ object.last_name }}</h1>
        <!--start of Slider-->
        <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
            <header class="bmd-layout-header">
                <div class="navbar navbar-light bg-faded">
                    <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-p1">
                        <span class="sr-only">Toggle drawer</span>
                        <i class="material-icons">menu</i>
                    </button>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">Posts</li>
                    </ul>
                </div>
            </header>
        <div id="dw-p1" class="bmd-layout-drawer bg-faded">
            <header>
                <span class="navbar-brand">About <span class="small">[<a href="{% url 'accounts:edit-profile' %}">Edit</a>]</span></span>
            </header>
            <ul class="list-group">
                <p><strong>Gender: </strong>{{ profile.get_gender_display }}</p>
                <p><strong>Preference: </strong>{{ profile.get_preference_display }}</p>
                <p><strong>Birthday: </strong>{{ profile.birth_date }}</p>
                <p><strong>Contact No: </strong>{{ profile.phone_number }}</p>
                <p><strong>Address:</strong></p>
                <p>{{ profile.address }}</p>
                <p><strong>Description:</strong></p>
                <p>{{ profile.description }}</p>
            </ul>
        </div>
            <main class="bmd-layout-content ml-0 mr-0">
                <div class="container">
                    <!-- main content -->
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                        What's on your mind?
                    </button>
                    <div class="collapse" id="collapseForm">
                        <form method="post" action="{% url 'posts:create-post' %}">
                            {% csrf_token %}
                            {{ post_form.content }}
                            <strong>{{ post_form.privacy.label }}:</strong> {{ post_form.privacy }}
                            <input class="btn btn-info btn-raised float-right" type="submit" value="Post">
                        </form>
                    </div>
                    {% for post in post_list %}
                        <div class="card post-card">
                            <h6 class="card-subtitle mb-2 mt-2 ml-3">
                                <i class="fas fa-user-tie"></i> {{ post.owner.profile.first_name }} {{ post.owner.profile.last_name }}
                            </h6>
                            <div class="card-body">
                                {{ post.content|safe }}
                            </div>
                            <div class="card-footer text-muted">
                                {% if post.datetime_created|timesince == post.datetime_modified|timesince %}
                                    <span class="float-right">Posted {{ post.datetime_created|timesince }} ago</span>
                                {% else %}
                                    <span class="float-right">Last edited {{ post.datetime_modified|timesince }} ago</span>
                                {% endif %}
                            </div>
                            <div class="comment-form mx-3">
                                <form method="post" action="{% url 'comments:create-comment' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="object_id" value="{{ post.id }}">
                                    <div class="form-group">
                                        <label for="content" class="bmd-label-floating">Write a comment...</label>
                                        <input type="text" class="form-control" name="content" id="comment-content">
                                        {{ comment_form.content.errors }}
                                    </div>
                                    <input class="btn btn-info btn-raised float-right" type="submit" value="Save">
                                </form>
                            </div>
                            {% for comment in post.comments %}
                                <div class="comment-card">
                                    <h6 class="card-subtitle mb-2 mt-2">
                                        <i class="fas fa-user-tie"></i> {{ comment.owner.profile.first_name }} {{ comment.owner.profile.last_name }}
                                    </h6>
                                    <div class="comment-body ml-3">
                                        {{ comment.content }}
                                    </div>
                                    <div class="footer text-muted mt-1 float-right">
                                        {% if comment.datetime_created|timesince == comment.datetime_modified|timesince %}
                                            <small>Commented {{ comment.datetime_created|timesince }} ago</small>
                                        {% else %}
                                            <small>Edited {{ comment.datetime_modified|timesince }} ago</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% for reply in comment.children %}
                                    <div class="reply-card">
                                        <h6 class="card-subtitle mb-2 mt-2">
                                            <i class="fas fa-user-tie"></i> {{ reply.owner.profile.first_name }} {{ reply.owner.profile.last_name }}
                                        </h6>
                                        <div class="comment-body ml-3">
                                            {{ reply.content }}
                                        </div>
                                        <div class="footer text-muted mt-1 float-right">
                                            {% if reply.datetime_created|timesince == reply.datetime_modified|timesince %}
                                                <small>Replied {{ reply.datetime_created|timesince }} ago</small>
                                            {% else %}
                                                <small>Edited {{ reply.datetime_modified|timesince }} ago</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}
