{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block css %}
.card {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.errorlist {
    padding: 5px;
    list-style-type: none;
}
.form-group .errorlist li {
    color: #F4433C;
    list-style: none;
}
.profile-placeholder {
    font-size:170px;
}
.profile-outer-div {
    border-radius: 15px;
    border-color: #41B6E6;
    border-style: solid;
    width: 170px;
    height: 170px;
    padding: 5px 5px 5px 5px;
    margin: -100px auto auto auto;
    background-color: #fff;
}
.profile-inner-div {
    border-radius: 15px;
    border-color: #41B6E6;
    border-style: solid;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
{% endblock css %}

{% block content %}
<div class="card col-xl-8 col-lg-10 col-md-10 col-sm-12 col-12">
    
    <div class="card-body">
        <div class="profile-outer-div"><div class="profile-inner-div">
            <i class="fas fa-user-tie profile-placeholder"></i>
        </div></div>
        <h1 class="text-center mt-2">{{ object.first_name }} {{ object.last_name }}</h1>
        <!--start of Slider-->
        <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
            <header class="bmd-layout-header">
                <div class="navbar navbar-light bg-faded">
                    <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-p1">
                        <span class="sr-only">Toggle drawer</span>
                        <i class="material-icons">menu</i>
                    </button>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">Posts</li>
                    </ul>
                </div>
            </header>
        <div id="dw-p1" class="bmd-layout-drawer bg-faded">
            <header>
                <span class="navbar-brand">About <span class="small">[<a href="{% url 'accounts:edit-profile' %}">Edit</a>]</span></span>
            </header>
            <ul class="list-group">
                <p><strong>Gender: </strong>{{ profile.get_gender_display }}</p>
                <p><strong>Preference: </strong>{{ profile.get_preference_display }}</p>
                <p><strong>Birthday: </strong>{{ profile.birth_date }}</p>
                <p><strong>Contact No: </strong>{{ profile.phone_number }}</p>
                <p><strong>Address:</strong></p>
                <p>{{ profile.address }}</p>
                <p><strong>Description:</strong></p>
                <p>{{ profile.description }}</p>
            </ul>
        </div>
            <main class="bmd-layout-content">
                <div class="container">
                    <!-- main content -->
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                        What's on your mind?
                    </button>
                    <div class="collapse" id="collapseForm">
                        <form method="post" action="{% url 'posts:create-post' %}">
                            {% csrf_token %}
                            {{ post_form.content }}
                            <strong>{{ post_form.privacy.label }}:</strong> {{ post_form.privacy }}
                            <input class="btn btn-info btn-raised float-right" type="submit" value="Post">
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}
