{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block css %}
.card {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.errorlist {
    padding: 5px;
    list-style-type: none;
}
.form-group .errorlist li {
    color: #F4433C;
    list-style: none;
}
{% endblock css %}

{% block content %}
<div class="card col-xl-4 col-lg-5 col-md-5 col-sm-6">
    
    <div class="card-body">
        <h5 class="card-title"><i class="far fa-plus-square"></i> Register</h5>
        <form method="post">
            {% csrf_token %}
            <div class="alert-danger">{{ form.non_field_errors }}</div>
            <div class="form-group">
                <label for="email" class="bmd-label-floating">E-mail</label>
                <input type="email" class="form-control" name="email" id="email" data-toggle="tooltip" data-placement="bottom" title="Required">
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <label for="username" class="bmd-label-floating">Username</label>
                <input type="text" class="form-control" name="username" id="username" data-toggle="tooltip" data-placement="bottom" title="Required">
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="password1" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" name="password1" id="password1" data-toggle="tooltip" data-placement="bottom" title="Required">
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                <label for="password2" class="bmd-label-floating">Confirm Password</label>
                <input type="password" class="form-control" name="password2" id="password2" data-toggle="tooltip" data-placement="bottom" title="Required">
                {{ form.password2.errors }}
            </div>
            <input class="btn btn-info btn-raised float-right" type="submit" value="Register">
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}
