{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'stainlesstalong-icon.png' %}" />
    <title>{% block title %}{% endblock title %} - Stainless Talong</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        .main-div {
            width: 100%;
            height: 100vh;
            margin-top: -60px;
            display: inline-block;
        }
        .background-img {
            position: absolute;
            top: 20px;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }
        .hidden {
            display: none;
        }
        #search-results {
            margin-top: 80px;
        }
        .card-results {
            margin-top: 0.5em !important;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px !important;
            display: block;
        }
        #search-results > .alert {
            margin-left: auto;
            margin-right: auto;
        }
        .pagination-div {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
        }
        @media (max-width: 1024px) {                  
            .lg-screen-hide {
                display: none;
            }
            .main-div {
                background-image: linear-gradient(rgb(3, 169, 244, 0.5), rgba(255, 255, 255, 0.5));
            }
        }
        .fa-user-tie {
            font-size: 40px;
        }
        {% block css %}
        {% endblock css %}
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'stainlesstalong-icon.png' %}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <form id="search-form" class="form-inline my-2 my-lg-0">
                        <input
                            class="form-control outline-light mr-sm-2"
                            id="search_field" name="search_field"
                            type="search" placeholder="Search Profiles"
                            aria-label="Search Profiles" data-toggle="tooltip"
                            data-placement="bottom" title="Enter name, email, username or description">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:create-profile' %}">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                    </li>
                {% endif %}
                {% block navbar %}
                {% endblock navbar %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid main-div">
        <img class="background-img lg-screen-hide" src="{% static 'home-bg.jpg' %}" />
        <div id="main-content">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="search-results" class="hidden row">
        </div>
    </div>
<script>
$(document).ready(function() {
    $('body').bootstrapMaterialDesign();
    $('[data-toggle="tooltip"]').tooltip();
    apiRootUrl = '{{ API_ROOT_URL }}';
    userAuthKey = '{{ user.auth_token }}';
    userId = '{{ user.id }}';
    $("#search-results").removeClass("hidden");
    // override `search-form` submission
    $("#search-form").submit(function(e) {
        e.preventDefault();
        var serializedSearch = $("#search_field").val();
        console.log(serializedSearch);
        searchProfiles(serializedSearch);
    });

    // ajax request to search profiles based on the searchbox
    var searchProfiles = serializedSearch => {
        return $.ajax({
            type: "get",
            url: `${apiRootUrl}profiles/`,
            headers: {
                    Authorization: 'Token ' + userAuthKey,
            },
            data: {
                multiple_fields: serializedSearch
            },
            error: function(err){
                console.log(err);
            }
        })
        .then(function(res) {
            populateProfileCards(res);
        })
        .then(function() {
            addedAsFriendChecker(serializedSearch);
        });
    };

    //check if a profile result is already added by the user
    var addedAsFriendChecker = serializedSearch => {
        return $.ajax({
            type: "get",
            url: `${apiRootUrl}relationships/`,
            headers: {
                Authorization: 'Token ' + userAuthKey,
            },
            data: {
                receiver_multifield_search: serializedSearch,
            },
            error: function(err){
                console.log(err);
            }
        })
        .then(function(res) {
            // update the add button depending on relationship request status
            var items = res.results;
            items.forEach(function(item) {
                $("#add-profile-"+item.receiver_profile_id).addClass("hidden");
                $("#cancel-add-profile-"+item.receiver_profile_id).removeClass("hidden");
            });
        });
    }

});
//add friend function
function addFriend(receiverProfileId, receiverUrl) {
    return $.ajax({
        type: "POST",
        url: `${apiRootUrl}relationships/`,
        headers: {
                    Authorization: 'Token ' + userAuthKey,
        },
        data: {
            sender: `${apiRootUrl}users/${userId}/`,
            receiver: receiverUrl,
            request: `${apiRootUrl}requests/1/`,
            type: `${apiRootUrl}relationship-types/2/`,
        },
        error: function(err){
            console.log(err.responseText);
        }
    }).then(function(res) {
        $("#add-profile-"+receiverProfileId).addClass("hidden");
        $("#cancel-add-profile-"+receiverProfileId).removeClass("hidden");
    });
}

//delete friend request function
function cancelAddFriend(receiverProfileId, receiverUserId) {
    return $.ajax({
        type: "GET",
        url: `${apiRootUrl}relationships/`,
        headers: {
                    Authorization: 'Token ' + userAuthKey,
        },
        data: {
            sender: userId,
            receiver: receiverUserId,
            request: 1,
            type: 2,
        },
        error: function(err){
            console.log(err.responseText);
        }
    }).then(function(res) {
        var items = res.results;
        return $.ajax({
            type: "DELETE",
            url: `${items[0].url}`,
            headers: {
                        Authorization: 'Token ' + userAuthKey,
            },
            error: function(err){
                console.log(err.responseText);
            }
        });
    }).then(function() {
        $("#add-profile-"+receiverProfileId).removeClass("hidden");
        $("#cancel-add-profile-"+receiverProfileId).addClass("hidden");
    });
}

// populates the cards based on the ajax get requests against `profiles` endpoints
var populateProfileCards = res => {
    $("#main-content").addClass("hidden");
    $("#search-results").removeClass("hidden");
    console.log(res);
    var items = res.results;
    if (items.length > 0) {
        var searchResults = '';
        var baseProfileUrl = "{% url 'accounts:profile' 'slug' %}";
        items.forEach(function(item) {
            var addFriendButton = `<button id="add-profile-${item.id}" onClick="addFriend(${item.id}, '${item.user}')" type="button" class="btn btn-outline-info"><i class="fas fa-user-plus"></i> Add Friend</button>`;
            var cancelAddFriendButton = `<button id="cancel-add-profile-${item.id}" onClick="cancelAddFriend(${item.id}, '${item.user_id}')" type="button" class="btn btn-outline-warning hidden"><i class="fas fa-user-minus"></i> Cancel Friend Request</button>`;
            var previousButton = `<button id="previous-button" onClick="navigateProfilesPagination('${res.previous}')" class="btn btn-info"><i class="fas fa-angle-double-left"></i> Previous</button>`;
            var nextButton = `<button id="next-button" onClick="navigateProfilesPagination('${res.next}')" class="btn btn-info">Next <i class="fas fa-angle-double-right"></i></button>`;
            searchResults += `
            <div class="card card-results pt-2 pb-2 col-lg-7 col-lg-offset-3 col-md-10 col-md-offset-1 d-block">
                <div class="row">
                    <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                        <i class="fas fa-user-tie mt-3"></i>
                    </div>
                    <div class="col-10 col-sm-11 col-md-11 col-lg-11">
                        <a href="${baseProfileUrl.replace('slug', item.slug)}"><strong>${item.first_name} ${item.last_name}</strong></a>
                        <p class="text-secondary"><small>${item.address}</small></p>
                        <p>${jQuery.trim(item.description).substring(0, 100).trim(this) + (item.description.length > 100 ? "..." : "")}</p>
                        <hr />
                        <div class="float-right">
                            ${userId != item.user_id ? addFriendButton : '' }
                            ${cancelAddFriendButton}
                            <button type="button" class="btn btn-outline-primary"><i class="fas fa-comment"></i> Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-div">
                ${res.previous != null ? previousButton : ''}
                ${res.next != null ? nextButton : ''}
            </div>
            `;
        });
        $("#search-results").html(searchResults);
    }
    else {
        var alertMessage=`
        <div class="alert alert-warning col-md-8" role="alert">
            No results found. Try another search.
        </div>`;
        $("#search-results").html(alertMessage);
    }
};

// ajax request to retrieve previous/next records of pagination
var navigateProfilesPagination = paginationLink => {
    return $.ajax({
        type: "get",
        url: paginationLink,
        headers: {
                Authorization: 'Token ' + userAuthKey,
        },
        error: function(err){
            console.log(err);
        }
    })
    .then(function(res) {
        populateProfileCards(res);
    });
}
</script>
</body>
</html>
{% block js %}
{% endblock js %}
